body{
  background-color:#FDF3E7;
  color:#FDF3E7;
}
.pm{
  height:80%;
  background-color:#ECECEA;
  color:black;
  padding:3%;
  margin:1%;
  
}
.nosifer{
  font-family:nosifer caps;
}
.imgphoto{
  width:1280px;
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  
}
.forthdiv{
  width:1280px;
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  
}
.containerhead{
  min-height:80px;
  background-color:red;
  border-bottom-left-radius:400px;
    border-top-right-radius: 400px;
  
}
#header {
  position: fixed;
  width: 100%;
  height:10%;
  top: 0;
  z-index: 1;
  opacity:0.9;
  background-color:#E44424;
  color:white;
}
.headheight{
  padding:2%;
}
.firstdiv{
  
  
  min-height:700px;
  background-color:#74AFAD;
  clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 90%);
}
.divpadding{
 padding:210px; 
}

.seconddiv{
  min-height:600px;
  background-color:#C1E1A6;
}
.thirddiv{
  min-height:1400px;
  background-color:#FFFFFF;
  border:black;
}
.projectpadding{
  padding:25px;
}
.portfolio{
     min-width: 400px;
    min-height: 400px;
    background-color: powderblu;
  background-color:white;
  
  margin:20px 10px;
}
.forthdiv{
    min-height:600px;
  background-color:#2B2B2B;
  opacity:0.8;
}
.imageheight{
  
}
.skillsheight{
  background-height:50px;
}

.paddingskills{
  padding:80px;
  min-height:45px;
  min-width:25px;
  margin :30px 20px;
}



h4{
  font-family:Josefin Slab;
}
#content {
  margin-top: 5px;
}
#content1 {
  margin-top: 80px;
}
h4,body{
  font-family:Artifika;
}

.radius{
 height :80%;
   width:50%;
  border-radius:50%;
}
.radius1{
  border-radius:35%;
}


.other-class{
  background-color:white;
}
.other-class1{
  background-color:#A0D4A4;
}
.btn-round{
border-radius: 15px;
  color:;
  border-color:;
 background-color:white;
}


.black-border{
  border-color:gray;
}
.margin{
  padding:20px;
}

.container1 {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}
.container2 {
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
}
.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }



.fa {
  padding: 40px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 50%;
}
.contactsize li{
  font-size:50px;
  margin:5px;
}
.end{
  margin:1cm;
  padding:1cm;
}

.fa:hover {
    opacity: 0.7;
}
.faa:hover{
  opacity:0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #999;
  color: white;
}
.iradius{
 
  border-radius: 50%;
}